<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Un message de : <%=@name%></h2>
    <h2>email : <%=@email%></h2>
    <h5>le message : <%=@message%><h5>
  </body>
</html>