<%= content_for :js do %>

<% end %>

<div class="container">
	<div class="v-space-1"></div>
	<div class="v-space-1"></div>

	<h1>homePage</h1>
			<div class="label">Nom</div>
			<select>
				<option>
					
				</option>
			</select>
			<div class="label">Nom</div>
			<select>
				<option>
					
				</option>
			</select>
			<div class="label">Nom</div>
			<select>
				<option>
					
				</option>
			</select>
			<div class="label">Nom</div>
			<select>
				<option>
					
				</option>
			</select>
	<input type="button"  value="Rechercher" />
	<div class="v-space-1"></div>
	<div class="v-space-1"></div>
</div>