$color-1: #114B5F;
$container-width: 700px;
$color-btn-bg: #3cae56;
$color-btn: white;
$color-menu: #F5F5DC;
$height-bars: 70px;
@font-face {
    font-family:myFont;
    src: url(/dist/fonts/OpenSans-Regular.a9f016eae0.ttf) ;
}