$color-1: #F67F25;
$color-1-bis-1: #F29853;
$color-1-bis-2: #FED6AE;
$color-2: lightgray;
$color-3: white;
$color-4: black;
$container-width: 700px;
$color-btn-bg: #3cae56;
$color-btn: white;
$height-header: 45px;
$height-footer: 120px;
@font-face {
    font-family:myFont;
    src: url(/dist/fonts/OpenSans-Regular.a9f016eae0.ttf) ;
}