.header {
	width: 100%;
	height:$height-header;
	background-color:$color-1;
}

.footer {
	width: 100%;
	height:$height-footer;
	background-color:$color-1-bis-1;
	position:absolute;
	bottom:0;
    float: left;
}

.logo{
	width: 14%;
    height: 100%;
    margin-left: 3%;
}

.menu_item{
	color: $color-3;
    float: right;
    margin-right: 3%;
    text-decoration: none;
    line-height: $height-header;
}

.copyright{
	color: $color-3;
    float: left;
    line-height: $height-header;
    margin-left: 11%;
}

.contactus{
	color: $color-3;
    float: right;
    line-height: $height-header;
    margin-right: 11%;
    text-decoration: none;
}