<div class="tp-container">
	<div class="tp-col js-time-container">
		<div class="tp-center-block">
			<div class="tp-width-1 js-plus-time">
				<button>+</button>
			</div>
			<div class="tp-width-1">
				<input type="text" readonly="true" class="tp-input js-time" value="<%= Time.now.hour+1%>">
			</div>
			<div class="tp-width-1 js-minus-time">
				<button>-</button>
			</div>
		</div>
	</div>

	<div class="tp-col">
		<div class="tp-center-block js-time-container">
			<div class="tp-width-1 js-plus-time">
				<button>+</button>
			</div>
			<div class="tp-width-1">
				<input type="text" readonly="true" class="tp-input js-time" value="<%= Time.now.min+1%>">
			</div>
			<div class="tp-width-1 js-minus-time">
				<button>-</button>
			</div>
		</div>
	</div>
</div>