<div class="tp-master-container js-time-picker mfp-hide" >
	<div class="tp-container">
		<div class="v-space-1"></div>
		<div class="tp-col js-tp-time-container">
			<div class="tp-center-block">
				<div class="tp-width-1 ">
					<button class=" js-tp-plus-time">+</button>
				</div>
				<div class="v-space-1"></div>
				<div class="tp-width-1">
					<input type="text" readonly="true" class="tp-input js-tp-time js-tp-hour" value="10">
				</div>
				<div class="v-space-1"></div>
				<div class="tp-width-1 ">
					<button class=" js-tp-minus-time">-</button>
				</div>
			</div>
		</div>

		<div class="tp-col js-tp-time-container">
			<div class="tp-center-block ">
				<div class="tp-width-1 ">
					<button class=" js-tp-plus-time">+</button>
				</div>
				<div class="v-space-1"></div>
				<div class="tp-width-1">
					<input type="text" readonly="true" class="tp-input js-tp-time js-tp-min" value="20">
				</div>
				<div class="v-space-1"></div>
				<div class="tp-width-1 ">
					<button class=" js-tp-minus-time">-</button>
				</div>
			</div>
		</div>
		<div class="float-left v-space-1"></div>
		<div class="width-1 float-left">
			<button class="js-tp-set-time">Ok</button>
			<button class="js-tp-cancel-time">cancel</button>
		</div>
	</div>
</div>